bin/
obj/
.dotnet_home/
.appdata/
.localappdata/
.msbuild/
artifacts/
TestResults/
*.user
*.suo

/.vs/TILSOFTAI/FileContentIndex/54ed372f-66e0-482e-b320-192367add16f.vsidx
/.vs/TILSOFTAI/FileContentIndex/1b5d65c4-00bd-406b-9533-2fb7830cb038.vsidx
/.vs/TILSOFTAI/FileContentIndex/1bb9369c-1f82-434a-a176-5383d35c117e.vsidx
/.vs/TILSOFTAI/FileContentIndex/1d115f07-4c88-4481-bc79-d1f2a81b05cf.vsidx
/.vs/TILSOFTAI/FileContentIndex/56b3df1d-9bc4-4227-9492-3d02a86a3932.vsidx
/.vs/TILSOFTAI/FileContentIndex/626593f3-036c-48c2-ac68-ff4f2d26c314.vsidx
